html,
body {
    width: 100%;
    height: 100%;
}
#map {
    width: 100%;
    height: 100%;
}
body {
    background: #292c40;
    color: #ffa884;
    -webkit-font-smoothing: antialiased;
}
.line {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
}
.key-container {
    background: #292c40;
    width: 25em;
    position: absolute;
    left: 4em;
    top: 6em;
    padding: 1em 1em;

    select {
        width: 100%;
        font-size: 1.2em;
        margin: 1em 0;
        background: transparent;
        border-color: #ffa884;
    }
    .key-rows {
        color: #ccc;
        font-weight: 900;
        font-size: 1.1em;
        padding: 0 15px
    }
    .key-row {
        border-top: 1px solid #ccc;
        margin-bottom: 2.5em;

        div {
            padding: 0.5em 0 0 0;
        }
    }
    .key-tree {
        width: 13px;
        height: 13px;
        background: rgba(144, 238, 144, 0.35);
        display: inline-block;
        border-radius: 50%;
        border: 2px solid springgreen;
    }
    .key-eviction {
        width: 13px;
        height: 13px;
        background: rgba(255, 0, 0, 0.34);
        display: inline-block;
        border-radius: 50%;
        border: 2px solid red;
    }
    .key-petition {
        width: 6px;
        height: 6px;
        background: yellow;
        display: inline-block;
        border-radius: 50%;
    }
    .key-business {
        width: 6px;
        height: 6px;
        background: orange;
        display: inline-block;
        border-radius: 50%;
    }
    .key-buyout {
        width: 6px;
        height: 6px;
        background: turquoise;
        display: inline-block;
        border-radius: 50%;
    }
}
.trend-container {
    display: table;
    width: 100%;
    padding: 4em;

    select {
        width: 100%;
        font-size: 1.2em;
        margin: 1em 0;
        background: transparent;
        border-color: #ffa884;
    }
    h1 {
        font-weight: 900;
        font-size: 3.5em;
        color: #ffa884;
        margin-bottom: 0.5em;
        margin-top: -4.65em;
        line-height: 1.25em;

        span {
            background: #292c40;
            padding: 0 0.5em;
        }
    }
}
.graph-cell {
    padding: 0;

    svg {
        background: #1a1c29;
    }
    .axis {
        text {
            fill: #696969;
        }
        line, path {
            stroke: #696969;
        }
    }
}
.graph-row {

    h2 {
        font-size: 1.1em;
        font-weight: 900;
        border-top: 1px solid;
        padding-top: 0.5em;
        margin: 2em 0.5em 1.5em 0;
    }
    .empty-state {
        font-size: 1.5em;
        font-weight: 900;
        fill: #fff;
    }
    .row-label {
        border-width: 8px;
        font-size: 4em;
        margin-bottom: 0.1em;
        margin-right: 0.1em;
    }
}
// .trees {
//     transform: translate(30%, 10%) scale(.82);
// }
@media (max-width: 769px) {

    .trend-container {
        padding: 4em .75em 4em 1em;
    }
}